<ion-header>
  <ion-toolbar>
    <h1 class="titulo">Compra tu entrada</h1>
    <ion-back-button
    slot="start" 
      text=""
      color="dark" 
      defaultHref="/eventos"
      icon="arrow-back">
    </ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item>
      <ion-thumbnail slot="start">
        <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
      </ion-thumbnail>
      <ion-label>
        <ion-card-header>
          <ion-card-title>Titulo evento</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          <h1>$precio</h1>
        </ion-card-content>
      </ion-label>
    </ion-item>
    <ion-button expand="block" color="light" (click)="pago()">Pagar</ion-button>
  </ion-card>
  
</ion-content>
