<ion-header>
  <ion-toolbar>
    <h1 class="titulo"> Mas información </h1>
    <ion-buttons slot="start">
      <ion-back-button 
      text=""
      color="dark" 
      defaultHref="/inicio"
      icon="arrow-back">
    </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
  </ion-header>
 

<ion-content>
 
  <ion-card>
   <img alt="Silhouette of mountains" src="../../assets/eventos-img/{{datos.Imagen}}" />
   <ion-card-header>
     <ion-card-title> {{datos.Nombre}} </ion-card-title>
   </ion-card-header>
   <ion-card-content>
     {{datos.Descripcion}}
   </ion-card-content>
 </ion-card>

<ion-button fill="outline">Compra tu entrada</ion-button><h1><ion-icon class="icono" name="heart-outline"></ion-icon></h1>

</ion-content>
