.titulo {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

.calendario {
    margin: 25px;
    //pointer-events: none;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}





