.titulo {
    /*padding-left: 15px;*/
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;

}

.calendario {
    margin: 25px;
}

ion-datetime {      
    pointer-events: none;
}



