<ion-header>
  <ion-toolbar>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-content>
    <ion-searchbar placeholder="Busca un evento"></ion-searchbar>

    <ion-item href="">
      <ion-thumbnail slot="start">
        <img src="../../assets/eventos-img/lalitour.img" />
      </ion-thumbnail>
      <ion-label>
        <h1>Disiplina tour Lali   <ion-icon name="heart-outline"></ion-icon></h1> 
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit..</p>
      </ion-label>
    </ion-item>




  </ion-content>
  
</ion-content>
