<ion-header no-border>
  <ion-toolbar >
    <h1 class="titulo"> Todos los eventos </h1>
    <ion-searchbar search-icon="search-outline" placeholder="Busca un evento" clear-icon="close-circle-outline"
    animated (ionChange)="searchEvents($event)" >
  </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-item  [routerLink]="['/eventos']" *ngFor="let item of searchedEvento" > 
      <ion-thumbnail  slot="start">
        <img src="../../assets/eventos-img/{{ item.Imagen }}" class="Evento" />
      </ion-thumbnail>
      <ion-label>
        <h1>{{ item.Nombre }}</h1> 
        <p>{{ item.Descripcion }}</p>
      </ion-label>
      <ion-icon slot="end" name="heart-outline"></ion-icon>
    </ion-item>

   

  </ion-content>

