<ion-header>
  <ion-toolbar>
    <ion-title>Registrate</ion-title>
    <ion-back-button 
    slot="start"
      text=""
      color="dark" 
      defaultHref="/login"
      icon="arrow-back">
    </ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card>
  <ion-card-header>
    <ion-card-title> Contacto </ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-label position="floating">Nombre</ion-label>
    <ion-input type="password" placeholder="Ingresa tu nombre"></ion-input>
    <ion-label position="floating">Apellido</ion-label>
            <ion-input type="password" placeholder="Ingresa tu apellido"></ion-input>
            <ion-label position="floating">Mail</ion-label>
            <ion-input type="password" placeholder="Ingresa tu emial"></ion-input>
            <ion-label position="floating">Contraseña</ion-label>
            <ion-input type="password" placeholder="Ingresa tu contraseña"></ion-input>
            <ion-label position="floating">Telefono celular</ion-label>
            <ion-input type="password" placeholder="Ingresa tu numero celular"></ion-input>
  </ion-card-content>
  <ion-button color="success" size="block" [routerLink]="['/tabs/inicio']"> Registrate </ion-button>
</ion-card>
</ion-content>
